<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.braisedpanda.shirotest.mapper.UserMapper">


    <!--根据uid查找所有的role-->
    <select id="getRole" resultType="com.braisedpanda.shirotest.model.po.UserRole">
        select * from userRole where uid=#{uid}
    </select>



</mapper>